<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Celulares</title>
        <style type="text/css">
            .ui-diagram-element {   
                width:4em; 
                height:4em;
                line-height:5em;
                text-align: center;
                box-shadow: 0 3px 8px rgba(0, 0, 0, 0.8);
                border-radius: 5em;
                border: 1px solid #404a4e;
                background-color: #404a4e;
                color: #cccccc;
            }

            .ui-diagram-element:hover {
                background-color: #20282b;
            }

            .panelInicio{
                text-align: center;
            }
            
            .btnRegresar{
                margin-left: 1250px;
            }
        </style>
    </h:head>
    <h:body>
        <p:growl id="grwErrores"/>
        <h:form>
            <p:commandButton value="Regresar" action="#{login.regresarIndex()}" update="@all" ajax="false" class="btnRegresar"/>
            <p:panel header="Arbol Binario de Búsqueda --- numero de celulares #{controladorABB.arbol.cantidadNodos}" 
                     rendered="#{!controladorABB.verRegistrar}" id="panelIncio">
                
                
                <p:diagram value="#{controladorABB.model}" 
                           style="height:600px" styleClass="ui-widget-content" />
                <br/>
                <center>
                    <p:commandButton value="Borrar Menor" action="#{controladorABB.borrarMenor()}" update="@all" ajax="false"/>
                    <p:commandButton value="Borrar Mayor" action="#{controladorABB.borrarMayor()}" update="@all" ajax="false"/>
                </center>
                <br/>
                <p:inputText  value="#{controladorABB.imeiBorrar}"/>
                <p:commandButton value="Borrar" action="#{controladorABB.borrarDato()}" update="@all" ajax="false"/>

                <br/>
                <p:inputText  value="#{controladorABB.imeiBuscar}"/>
                <p:commandButton value="Buscar" action="#{controladorABB.habilitarBusqueda()}" update="@all" ajax="false"/>
                <p:outputLabel value=" #{controladorABB.buscarCelular()}" rendered="#{controladorABB.habilitarBuscar}"/>
                <center>
                    <p:commandButton value="Nuevo" action="#{controladorABB.habilitarRegistrar()}"
                                     update="@all"   />
                </center>
                <p:panelGrid columns="1"   >

                    <p:outputLabel value="Los Precios De los celulares suman en total:  #{controladorABB.arbol.sumarPrecios()}"/> 

                    <p:outputLabel value="El promedio de los precios de los celulares es:  #{controladorABB.arbol.calcularPromedioPrecios()}"/>

                </p:panelGrid>
            </p:panel>
            <p:panel header="Operaciones Extras" 
                     rendered="#{!controladorABB.verRegistrar}" id="panelOpeExtra">
                <center>
                    <p:panelGrid columns="2"   >
                        <p:outputLabel value="Operador: "/>
                        <p:selectOneMenu value="#{controladorABB.operador}">                            
                            <f:selectItems value="#{controladorABB.operadores}" 
                                           var="ope" 
                                           itemLabel="#{ope.nombre}"
                                           itemValue="#{ope.nombre}"
                                           />
                        </p:selectOneMenu>

                        <br/>
                        <p:commandButton value="Hacer Preorden" action="#{controladorABB.verHabilitarTabla()}" ajax="false"
                                         update="@all"/>

                    </p:panelGrid>
                </center>
                <p:dataTable value="#{controladorABB.recorrerPreOrdenOperador()}"  rendered="#{controladorABB.habilitarTabla}" 
                             var="filaIn" >
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Imei"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.imei}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Nro"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.numeroLinea}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Color"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.color}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Operador"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.operador.nombre}"/>
                    </p:column>
                </p:dataTable>
                <br/>
                <center>
                    <p:outputLabel  value="Contar Celulares, que en su  marca contengan una letra dada"  style=" width:  50px"/>
                </center>
                <br/>
                <center>
                    <p:panelGrid columns="2" >

                        <p:inputText id="Letra" value="#{controladorABB.letra}"/>
                        <p:commandButton value="Contar" action="#{controladorABB.habilitarContar()}" update="@all" ajax="false"/>
                        <p:outputLabel   value="El numero de celulares con la letra #{controladorABB.letra}
                                         es: #{controladorABB.contarCelularesxLetra()}  " rendered="#{controladorABB.contarLetra}" />
                    </p:panelGrid>
                    <br/>
                </center>
                <p:panelGrid columns="3" >
                    <p:commandButton value="Mostrar altura " action="#{controladorABB.habilitarAltura()}" update="@all" ajax="false"/>
                    <p:outputLabel   value="El La altura del arbol 
                                     es: #{controladorABB.arbol.retornarAltura()}  " rendered="#{controladorABB.habilitaAltura}" />
                    <p:commandButton value="Listar hojas " action="#{controladorABB.verHojas()}" update="@all" ajax="false"/>
                    <p:commandButton value="Podar " action="#{controladorABB.podar()}" update="@all" ajax="false"/>
                    <p:inputText  value="#{controladorABB.padre}"/>
                    <p:commandButton value="Buscar Padre" action="#{controladorABB.habilitarPadre()}" update="@all" ajax="false"/>
                    <p:outputLabel   value=
                                      "#{controladorABB.darPadre(controladorABB.padre)}  " rendered="#{controladorABB.habilitaPadre}" />
                </p:panelGrid>
                <br/>
                <center>
                <p:commandButton value="Preorden " action="#{controladorABB.verPreorden()}" update="@all" ajax="false"/>
                <p:commandButton value="Inorden " action="#{controladorABB.verInOrden()}" update="@all" ajax="false"/>
                <p:commandButton value="Posorden " action="#{controladorABB.verPosorden()}" update="@all" ajax="false"/>
                <p:commandButton value="Imprimir Niveles " action="#{controladorABB.verNiveles()}" update="@all" ajax="false"/>
                </center>
                <br/>
                <p:dataTable value="#{controladorABB.arbol.listarHojas()}"  rendered="#{controladorABB.habilitarTablaHojas}" 
                             var="filaIn" >
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Imei"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.imei}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Nro"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.numeroLinea}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Color"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.color}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Operador"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.operador.nombre}"/>
                    </p:column>
                </p:dataTable>
            </p:panel>



        </h:form>
        <h:form>
            <p:panel  header="Registrar Celular" rendered="#{controladorABB.verRegistrar}">
                <center>
                    <p:panelGrid columns="2">
                         <p:outputLabel value="Codigo"/>
                         <p:inputText required="true" value="#{controladorABB.celular.codigo}"/>
                        <p:outputLabel value="imei"/>
                        <p:inputText required="true" value="#{controladorABB.celular.imei}"/>
                        <p:outputLabel value="Número de Línea"/>
                        <p:inputText required="true" value="#{controladorABB.celular.numeroLinea}"/>
                        <p:outputLabel value="Marca" />
                        <p:selectOneMenu value="#{controladorABB.celular.marca.codigo}">
                            <f:selectItems value="#{controladorABB.marcas}"
                                           var="marc" itemLabel="#{marc.descripcion}"
                                           itemValue="#{marc.codigo}"
                                           />
                        </p:selectOneMenu>
                        <p:outputLabel value="Color"/>
                        <p:inputText required="true" value="#{controladorABB.celular.color}" />
                        <p:outputLabel value="Operador"/>
                        <p:selectOneMenu value="#{controladorABB.celular.operador.nombre}">                            
                            <f:selectItems value="#{controladorABB.operadores}" 
                                           var="ope" 
                                           itemLabel="#{ope.nombre}"
                                           itemValue="#{ope.nombre}"
                                           />
                        </p:selectOneMenu>
                        <p:outputLabel value="Precio"/>
                        <p:inputText required="true" value="#{controladorABB.celular.precio}"/>
                        <p:outputLabel value="Cantidad"/>
                        <p:spinner required="true" value="#{controladorABB.celular.cantidad}" min="1"/>
                        <p:commandButton value="Guardar" update="@all" ajax="false"
                                         action="#{controladorABB.guardarCelular()}"/>
                        <p:commandButton value="Cancelar" update="@all" ajax="false" immediate="true"
                                         action="#{controladorABB.cancelarGuardado()}" />
                    </p:panelGrid>
                </center>

            </p:panel>


            <p:dataTable value="#{controladorABB.arbol.recorrerInOrden()}"
                         var="filaIn" rendered="#{controladorABB.habilitarTablaIn}" >
                <p:column>
                    <f:facet name="header">
                        <p:outputLabel value="Imei"/>
                    </f:facet>
                    <p:outputLabel value="#{filaIn.imei}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <p:outputLabel value="Nro"/>
                    </f:facet>
                    <p:outputLabel value="#{filaIn.numeroLinea}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <p:outputLabel value="Color"/>
                    </f:facet>
                    <p:outputLabel value="#{filaIn.color}"/>
                </p:column>
                 <p:column>
                    <f:facet name="header">
                        <p:outputLabel value="cantidad"/>
                    </f:facet>
                     <p:outputLabel value="#{filaIn.cantidad}"/>
                </p:column>
            </p:dataTable>




            <p:dataTable value="#{controladorABB.arbol.recorrerPreOrden()}"  rendered="#{controladorABB.habilitarTablaPre}"
                         var="filaIn">
                <p:column>
                    <f:facet name="header">
                        <p:outputLabel value="Imei"/>
                    </f:facet>
                    <p:outputLabel value="#{filaIn.imei}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <p:outputLabel value="Nro"/>
                    </f:facet>
                    <p:outputLabel value="#{filaIn.numeroLinea}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <p:outputLabel value="Color"/>
                    </f:facet>
                    <p:outputLabel value="#{filaIn.color}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <p:outputLabel value="Operador"/>
                    </f:facet>
                    <p:outputLabel value="#{filaIn.operador.nombre}"/>
                </p:column>
            </p:dataTable>


            <p:dataTable value="#{controladorABB.arbol.recorrerPostOrden()}"
                         var="filaIn" rendered="#{controladorABB.habilitarTablaPos}" >
                <p:column>
                    <f:facet name="header">
                        <p:outputLabel value="Imei"/>
                    </f:facet>
                    <p:outputLabel value="#{filaIn.imei}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <p:outputLabel value="Nro"/>
                    </f:facet>
                    <p:outputLabel value="#{filaIn.numeroLinea}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <p:outputLabel value="Color"/>
                    </f:facet>
                    <p:outputLabel value="#{filaIn.color}"/>
                </p:column>
            </p:dataTable>
            
            <p:outputLabel  value="#{controladorABB.arbol.imprimirNivel()}"
                            rendered="#{controladorABB.impNivel}" />
            
               

        </h:form>
    </h:body>
</html>

