<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Arbol N - Celulares</title>
        <style type="text/css">
            .ui-diagram-element {   
                width:4em; 
                height:4em;
                line-height:5em;
                text-align: center;
                box-shadow: 0 3px 8px rgba(0, 0, 0, 0.8);
                border-radius: 5em;
                border: 1px solid #404a4e;
                background-color: #404a4e;
                color: #cccccc;
            }

            .ui-diagram-element:hover {
                background-color: #20282b;
            }

            .panelInicio{
                text-align: center;
            }

            .btnRegresar{
                margin-left: 1250px;
            }
        </style>
    </h:head>
    <h:body>
        <p:growl id="grwErrores"/>
        <h:form>
            <p:commandButton value="Regresar" action="#{login.regresarIndex()}" update="@all" ajax="false" class="btnRegresar"/>
            <p:panel header="Arbol N-ARIO --- numero de celulares #{controladorArbolN.arbolN.cantidadNodos}" 
                     id="panelIncio">
                <p:diagram value="#{controladorArbolN.model}" 
                           style="height:600px" styleClass="ui-widget-content" />
                <center>

                    <p:commandButton value="Nuevo" action="#{controladorArbolN.habilitarRegistrar()}"
                                     update="@all" ajax="false"  />
                </center>
            </p:panel>
        </h:form>
        <h:form>
            <p:panel  header="Registrar Celular" rendered="#{controladorArbolN.verRegistrar}">
                <center>
                    <p:panelGrid columns="2">
                        <p:outputLabel value="Codigo"/>
                        <p:inputText required="true" value="#{controladorArbolN.celular.codigo}"/>
                        <p:outputLabel value="imei"/>
                        <p:inputText required="true" value="#{controladorArbolN.celular.imei}"/>
                        <p:outputLabel value="Número de Línea"/>
                        <p:inputText required="true" value="#{controladorArbolN.celular.numeroLinea}"/>
                        <p:outputLabel value="Marca" />
                        <p:selectOneMenu value="#{controladorArbolN.celular.marca.codigo}">
                            <f:selectItems value="#{controladorArbolN.marcas}"
                                           var="marc" itemLabel="#{marc.descripcion}"
                                           itemValue="#{marc.codigo}"
                                           />
                        </p:selectOneMenu>
                        <p:outputLabel value="Color"/>
                        <p:inputText required="true" value="#{controladorArbolN.celular.color}" />
                        <p:outputLabel value="Operador"/>
                        <p:selectOneMenu value="#{controladorArbolN.celular.operador.nombre}">                            
                            <f:selectItems value="#{controladorArbolN.operadores}" 
                                           var="ope" 
                                           itemLabel="#{ope.nombre}"
                                           itemValue="#{ope.nombre}"
                                           />
                        </p:selectOneMenu>
                        <p:outputLabel value="Precio"/>
                        <p:inputText required="true" value="#{controladorArbolN.celular.precio}"/>
                        <p:outputLabel value="Cantidad"/>
                        <p:spinner required="true" value="#{controladorArbolN.celular.cantidad}" min="1"/>
                        <p:outputLabel value="Padre:  "/>
                        <p:selectOneMenu value="#{controladorArbolN.padre}">                            
                            <f:selectItems value="#{controladorArbolN.arbolN.listarCelularesN()}" 
                                           var="padre" 
                                           itemLabel="#{padre.imei}"
                                           itemValue="#{padre}"
                                           />
                        </p:selectOneMenu>
                        <p:commandButton value="Guardar" update="@all" ajax="false"
                                         action="#{controladorArbolN.guardarCelular()}"/>
                        <p:commandButton value="Cancelar" update="@all" ajax="false" immediate="true"
                                         action="#{controladorArbolN.cancelarGuardado()}" />
                    </p:panelGrid>
                </center>

            </p:panel>
            <p:panel>
                <p:dataTable value="#{controladorArbolN.arbolN.listarCelularesN()}"   
                             var="filaIn" >
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Imei"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.imei}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Nro"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.numeroLinea}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Color"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.color}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Operador"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.operador.nombre}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Marca"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.marca.descripcion}"/>
                    </p:column>
                </p:dataTable>
                <p:inputText  value="#{controladorArbolN.imeiBorrar}"/>
                <p:commandButton value="Borrar" action="#{controladorArbolN.borrarDato()}" update="@all" ajax="false"/>
            </p:panel>
            <p:panel header=" Buscar Celulares por Operador" 
                     rendered="#{!controladorArbolN.verRegistrar}" id="panelOpeExtra">
                <center>
                    <p:panelGrid columns="2"   >
                        <p:outputLabel value="Operador: "/>
                        <p:selectOneMenu value="#{controladorArbolN.operador}">                            
                            <f:selectItems value="#{controladorArbolN.operadores}" 
                                           var="ope" 
                                           itemLabel="#{ope.nombre}"
                                           itemValue="#{ope.nombre}"
                                           />
                        </p:selectOneMenu>

                        <br/>
                        <p:commandButton value="Buscar Celulares" action="#{controladorArbolN.verHabilitarTabla()}" ajax="false"
                                         update="@all"/>

                    </p:panelGrid>
                </center>
                <p:dataTable value="#{controladorArbolN.listarCelularesxOperador()}"  rendered="#{controladorArbolN.habilitarTabla}" 
                             var="filaIn" >
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Imei"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.imei}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Nro"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.numeroLinea}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Color"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.color}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Operador"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.operador.nombre}"/>
                    </p:column>
                </p:dataTable>
            </p:panel>
             <p:panel header=" Borrar Celulares por Marca" 
                     rendered="#{!controladorArbolN.verRegistrar}" id="panelMarca">
                <center>
                    <p:panelGrid columns="2"   >
                        <p:outputLabel value="Marca: "/>
                        <p:selectOneMenu value="#{controladorArbolN.marcaBorrar}">                            
                            <f:selectItems value="#{controladorArbolN.marcas}" 
                                           var="marc" 
                                           itemLabel="#{marc.descripcion}"
                                           itemValue="#{marc.descripcion}"
                                           />
                        </p:selectOneMenu>

                        <br/>
                        <p:commandButton value="Borrar Celulares" action="#{controladorArbolN.eliminarNodoXMarca()}" ajax="false"
                                         update="@all"/>

                    </p:panelGrid>
                </center>
             </p:panel>
        </h:form>
    </h:body>
</html>

