<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>Batalla -- Naval</title>
        <audio autoplay="true" loop="loop" preload="none" controls="controls">
            <source src="../audio/battlefield-1-soundtrack-official-theme.mp3" type="audio/mp3"/>
        </audio>
        <br/>
        <style type="text/css">
            body{
                background: url(../batallaNaval/fondoBatalla.jpg);
                background-size: 100%;
            }
        </style>
    </h:head>
    <h:body>
        <p:growl id="grwErrores"/>
        <h:form id="fmrjuego2" >
            <p:messages id="messages" showDetail="true" closable="true">
                <p:autoUpdate />
            </p:messages>
            <p:poll  interval="6" listener="#{controladorJuego.verificarGanador()}" update="fmrjuego2"  />
            <p:panel header="Jugador: #{controladorJuego.arbolNBatallaJugador2.raiz.dato}" style="background: transparent">
                <p:commandButton value="Salir" action="#{controladorJuego.salirJuego()}" disabled="#{controladorJuego.reiniciar}" update="@all" ajax="false"/>
                <center>
                    <p:panelGrid columns="2" style="background: transparent">
                        <p:outputLabel value="Estado: "/>
                        <h:outputText value="#{controladorJuego.estado}"/>
                    </p:panelGrid>
                </center>
                <!--                <p:layout style="min-width:400px;min-height:400px; background: transparent">
                                    <p:layoutUnit position="west" resizable="true" size="220"  minSize="40" maxSize="300" style="background: transparent ; color: transparent">-->

                <p:panelGrid columns="2"  style="margin-top: 8% ; background: transparent" >

                    <p:outputLabel value="Fila:" style="height: 4px ; width: 4px" />
                    <p:spinner value="#{controladorJuego.fila1}" min="1" max="#{controladorJuego.tablero2}"  size="3"/>

                    <p:outputLabel value=" Columna:" style="height: 4px ; width: 4px"/>
                    <p:spinner value="#{controladorJuego.columna1}" min="1" max="#{controladorJuego.tablero2}"  size="3"/>
                </p:panelGrid>
                <br/>

                <p:commandButton value="Disparar" action="#{controladorJuego.dispararJug2()}" disabled="#{controladorJuego.turno2}"
                                 />

                <!--                    </p:layoutUnit>
                
                                    <p:layoutUnit position="center" size="700" style="background: transparent">-->
                <p:outputLabel value="Tablero  Enemigo" style="font-family: fantasy ; font-weight: 900; color: gold;margin-left: 40%"/>
                <center>
                    <c:forEach var="fila"  begin="1" end="#{controladorJuego.crearTableroJugador1()}"  >

                        <c:forEach var="columna" begin="1" end="#{controladorJuego.crearTableroJugador1()}">

                            <p:commandButton value="[#{fila},#{columna}]"  
                                             style="#{controladorJuego.obtenerEsiloDeCoordenada2(fila,columna)}"

                                             disabled="#{controladorJuego.verififcarDisparoJugador1(fila, columna)}"/>
                        </c:forEach>
                        <br/>
                    </c:forEach>

                </center>
                <!--
                                    </p:layoutUnit>
                                </p:layout>-->
            </p:panel>

            <!--            <p:layout style="min-width:400px;min-height:400px; background: transparent;">
                            <p:layoutUnit position="west" resizable="true" size="270"  minSize="40" maxSize="300" style="background: transparent ; color: transparent">-->
            <p:dataTable value="#{controladorJuego.arbolNBatallaJugador2.listarBarcosPosicionados()}" var="barco">                  
                <p:column>
                    <f:facet name="header">
                        <p:outputLabel value="Nombre" />
                    </f:facet>
                    <p:outputLabel value="#{barco.tipobarco.nombre}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <p:outputLabel value="Estado" />
                    </f:facet>
                    <p:outputLabel value="#{barco.estado.descripcion}"/>
                </p:column>
            </p:dataTable>
            <!--                </p:layoutUnit>
                            <p:layoutUnit position="center" size="700" style="background: transparent;">-->
            <p:outputLabel value="Tu Tablero" style="font-family: serif ; font-weight: 900; color: gold;margin-left: 50%"/>
            <center>
                <c:forEach var="fila"  begin="1" end="#{controladorJuego.crearTableroJugador2()}"  >

                    <c:forEach var="columna" begin="1" end="#{controladorJuego.crearTableroJugador2()}">

                        <p:commandButton value="[#{fila},#{columna}]" 
                                         style="#{controladorJuego.pintarBarcosJugador2(fila, columna)}"/>
                    </c:forEach>
                    <br/>
                </c:forEach>

            </center>

            <!--                </p:layoutUnit>
                        </p:layout>-->

        </h:form>
    </h:body>
</html>

