<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Login Administrador</title>
    </h:head>
    <style type="text/css">
        .pnMenuBatalla{
            padding: 50px;
            border-width: 8px;
            border-color: transparent;
            background: transparent;
            margin-top: 130px;
            margin-left: 30px;
            margin-right: 30px;

        }

        .pngUsu {
            margin-top: 75px;
            margin-left: 500px;
            background: transparent;
            background-color: transparent;
            color: transparent;
            font-family: fantasy;
            font-weight: 700;
            align-content: center;
        }

        .pngContr {

            margin-left: 500px;
            margin-top: 50px;
            background: transparent;
            background-color: transparent;
            font-family: fantasy;
            font-weight: 700;
            color: transparent;  
            align-content: center;

        }

        body{
            background: url(../batallaNaval/almirante.jpg);
            background-size: 40%;
        }



    </style>
    <h:body>
        <h:form>
            <p:growl id="Error" />

            <p:panel header="Login Administrador "  class="pnMenuBatalla" >
                
                <p:panelGrid columns="2" class="pngUsu">
                    <p:outputLabel value="usuario" class="outUsuario"/>
                    <p:inputText value="#{login.usuarioAdmin}" />
                </p:panelGrid>
                <br/>
                <p:panelGrid columns="2" class="pngContr">
                    <p:outputLabel  value="Contraseña" class="outContrasena"/>
                    <p:password  value="#{login.contrasenaAdmin}" />
                </p:panelGrid>
               
            </p:panel>
            <br/>
            <center>
                <p:commandButton  value="Ingresar" action="#{login.ingresarMenuAdministrador()}" update="@all" ajax="false" 
                                  class="btnAdministrador" />
                <p:commandButton value="Volver" action="#{login.regresarIndex()}" update="@all" ajax="false" 
                                  />
            </center>
        </h:form>
    </h:body>
</html>

