<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
         
        <title>Jugador -- 1</title>
        <style type="text/css">
            .ui-diagram-element {   
                width:14em; 
                height:4em;     
                line-height:4em;
                text-align: center;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
                border-radius: 2em;
                border: 1px solid transparent;
                background-color: #98AFC7;
                color: #ffffff;
            }


            .ui-diagram-success {
                background-color: #9CB071;
                color: #ffffff;
                border-color: #7ab02c;
            }

            .ui-diagram-fail {
                background-color: #C34A2C;
                color: #ffffff;
            }

            .flow-label {
                font-size: 24px;
                font-weight: bold;
                color: #816A51;
            }



        </style>
    </h:head>
    <h:body>
        <p:growl id="grwErrores"/>
        <h:form id="fmrSeleccionBarco">
            <p:commandButton value="Salir" action="#{login.regresarIndex()}" update="@all" ajax="false" class="btnRegresar"/>
            <br/>
            <p:panel header="Distribuir Barcos" 
                     id="panelIncio" class="pnlDistribuir" >
                <center>
                    <c:forEach var="fila"  begin="1" end="#{controladorJuego.crearTableroJugador1()}"  >

                        <c:forEach var="columna" begin="1" end="#{controladorJuego.crearTableroJugador1()}">

                            <p:commandButton value="[#{fila},#{columna}]" 
                                             style="#{controladorJuego.pintarBarcosJugador1(fila, columna)}"
                                            />
                        </c:forEach>
                        <br/>
                    </c:forEach>
                </center>

                <center>
                    <p:commandButton value="verificar" action="#{controladorJuego.validarTableroLLenoJugador1()}" update="@all" ajax="false"/>
                    <p:commandButton value="Listo"  action="#{controladorJuego.habilitarJuego1()}" update="@all" ajax="false"
                                     disabled="#{controladorJuego.deshabilitarAsignarJugador1}"/>
                    <p:commandButton value="Jugar" action="#{controladorJuego.ingresarJuegoJugador1()}" 
                                     disabled="#{controladorJuego.verificarListo()}"  update="@all" ajax="false"/>
                </center>
            </p:panel>

            <p:panel header="seleccion barcos #{controladorJuego.arbolNBatallaJugador1.cantidadNodos}" 
                     id="panelSeleccion" class="pnlSeleccionBarcos" >
                <center>
                    <p:diagram value="#{controladorJuego.model1}" id="diagrama"
                               style="height:600px" styleClass="ui-widget-content" />
                </center>
                <center>
                    <p:panelGrid columns="2">

                        <p:outputLabel value="Seleccione la Fila:    "/>
                        <p:spinner value="#{controladorJuego.fila}" min="1" max="#{controladorJuego.tablero1}"  />

                        <p:outputLabel value="Selleccione Columna:   "/>
                        <p:spinner value="#{controladorJuego.columna}" min="1" max="#{controladorJuego.tablero1}"  />


                        <p:outputLabel value="Selleccione direccion"/>

                        <p:selectOneMenu id="direccion" value="#{controladorJuego.direccion}" style="width:125px">
                            <f:selectItem itemLabel="seleccione" itemValue="" />
                            <f:selectItem itemLabel="Horizontal" itemValue="Horizontal" />
                            <f:selectItem itemLabel="Vertical" itemValue="Vertical" />
                        </p:selectOneMenu>
                    </p:panelGrid>
                </center>
                <p:dataTable value="#{controladorJuego.arbolNBatallaJugador1.listarBarcos()}" var="barco">
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Identificador" />
                        </f:facet>
                        <p:outputLabel value="#{barco.identificador}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Nombre" />
                        </f:facet>
                        <p:outputLabel value="#{barco.tipobarco.nombre}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Numero Casillas" />
                        </f:facet>
                        <p:outputLabel value="#{barco.tipobarco.nroCasillas}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Asignar Coordenadas" />
                        </f:facet>
                        <p:commandButton value="Asignar" action="#{controladorJuego.asignarCoordenadasjugador1MenuContext(barco)}"  

                                         update="@all" ajax="false" />
                    </p:column>
                </p:dataTable>
            </p:panel>
            <!--            <p:remoteCommand name="elementClickRight" 
                                         actionListener="{controladorJuego.onClickRight()}">
                        </p:remoteCommand>
                        <script>
                            $(document).ready(function () {
                                $('.ui-diagram > .ui-diagram-element').mousedown(function (info) {
                                    if (info.which === 3) {
                                        elementClickRight([{
                                                name: 'elementId',
                                                value: info.target.id
                                            }]);
            
                                    }
                                });
                            });
                        </script>-->



            <!--            <p:contextMenu for="panelSeleccion" id="pnCmVeh" 
                                       targetFilter=".ui-diagram-element" >
                            <p:menuitem value="asignar coordenadas" update="@all"
                                        ajax="false" icon="ui-icon-disk" 
                                        action="{controladorJuego.asignarCoordenadasjugador1MenuContext()}"
                                        />
            
                        </p:contextMenu>-->
        </h:form>
    </h:body>
</html>

