<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Menu Batalla</title>
        <style type="text/css">
            .pnMenuBatalla{
                padding: 50px;
                border-width: 8px;
                border-color: lightslategray;
                background: transparent;
                margin-top: 130px;
                margin-left: 30px;
                margin-right: 30px;

            }
            .btnAdministrador{
                margin-left: 180px;
                width: 213px; 
                height:213px; 
                text-align: center ; 
                text-height: auto;
            }
            .btnJugador{
                margin-left: 340px;
                width: 213px; 
                height:213px; 
                text-align: center ; 
                text-height: auto;
            }

            body{
                background: url(../batallaNaval/fondoBatalla.jpg);
                background-size: 100%;
            }



        </style>
    </h:head>
    <h:body>
        <h:form>
            <p:growl id="Error" />

            <p:panel header="Menu Login " class="pnMenuBatalla" >
                <p:commandButton  value="Administrador" action="#{login.ingresarLoginAdministrador()}" update="@all" ajax="false" 
                                  class="btnAdministrador"  />
                <p:commandButton value="Jugador" action="#{login.ingresarLoginJugador()}" update="@all" ajax="false" 
                                 class="btnJugador"/>
            </p:panel>
            <br/>
            <center>
                <p:commandButton value="Regresar" action="#{login.regresarIndex()}" update="@all" ajax="false"  />
            </center>
        </h:form>
    </h:body>
</html>

