<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Arboles</title>
        <style type="text/css">
            .pnMenuArboles{
                padding: 50px;
                border-width: 8px;
                border-color: lightslategray;
                background: transparent;
                margin-top: 130px;
                margin-left: 30px;
                margin-right: 30px;
                margin-top: 130px;
                margin-left: 30px;
                margin-right: 30px;

            }
            .btnCelulares{
                margin-left: 130px;
                width: 300px; 
                height:300px; 
                text-align: center ; 
                text-height: auto;
            }
            .btnBatalla{
                margin-left: 280px;
                width: 300px; 
                height:300px; 
                text-align: center ; 
                text-height: auto;
            }

            body{
                background: url(../arboles.jpg);
                background-size: 100%;
            }

        </style>
    </h:head>
    <h:body>
        <h:form>
            <p:commandButton value="Show" icon="ui-icon-script" actionListener="#{controladorJuego.showMessage()}" />
        </h:form>
        <h:form>
            <p:growl id="Error" />

            <p:panel header="Menu Arboles " class="pnMenuArboles" >
                <p:commandButton value="Celulares" action="#{login.ingresarArbolCelulares()}" update="@all" ajax="false" 
                                 class="btnCelulares" />
                <p:commandButton value="Batalla Naval" action="#{login.ingresarBatalla()}" update="@all" ajax="false" 
                                 class="btnBatalla"/>
            </p:panel>
        </h:form>
    </h:body>
</html>

